<!--
	Unicorn.Configs.IgnitionSc.config
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<unicorn>
			<configurations>
				<configuration name="Ignition Framework Components" description="This includes the items for built-in components of the Ignition Framework">
					<predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
						<include name="Ignition" database="master" path="/sitecore/content/Ignition" />
            <include name="GlobalSettings" database="master" path="/sitecore/content/GlobalSettings" />
            <include name="Layouts" database="master" path="/sitecore/layout/Layouts/IgnitionLayout" />
            <include name="PlaceholderSettings" database="master" path="/sitecore/layout/Placeholder Settings/Ignition" />
            <include name="Renderings" database="master" path="/sitecore/layout/Renderings/Ignition" />
            <include name="Branches" database="master" path="/sitecore/templates/Branches/Ignition" />
            <include name="Demos" database="master" path="/sitecore/templates/Demos/Ignition" />
					</predicate>
					<dataProviderConfiguration enableTransparentSync="false" type="Unicorn.Data.DataProvider.DefaultUnicornDataProviderConfiguration, Unicorn" singleInstance="true" />
					<syncConfiguration updateLinkDatabase="false" updateSearchIndex="false" maxConcurrency="1" type="Unicorn.Loader.DefaultSyncConfiguration, Unicorn" singleInstance="true" />
				</configuration>
			</configurations>
		</unicorn>
	</sitecore>
</configuration>
