<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<unicorn>
			<configurations>
				<configuration name="Ignition Framework Components" description="This set of components should be repeated for each site you include in your solution" dependencies="Ignition Framework Core">
          <targetDataStore physicalRootPath="$(solutionFolder)\Ignition.Project.IgnitionDemo.Sc\Serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
					<predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
						<include name="DemoSitePlaceholderSettings" database="master" path="/sitecore/layout/Placeholder Settings/IgnitionDemo" />
						<include name="DemoSiteRenderings" database="master" path="/sitecore/layout/Renderings/Ignition" />
						<include name="DemoSiteBranches" database="master" path="/sitecore/templates/Branches/Ignition" />
						<include name="DemoSiteRootPath" database="master" path="/sitecore/content/Ignition" />
						<include name="DemoSiteImagePath" database="master" path="/sitecore/media library/IgnitionDemo" />
					</predicate>
					<dataProviderConfiguration enableTransparentSync="false" type="Unicorn.Data.DataProvider.DefaultUnicornDataProviderConfiguration, Unicorn" singleInstance="true" />
					<syncConfiguration updateLinkDatabase="false" updateSearchIndex="false" maxConcurrency="1" type="Unicorn.Loader.DefaultSyncConfiguration, Unicorn" singleInstance="true" />
				</configuration>
			</configurations>
		</unicorn>
	</sitecore>
</configuration>
