@using Ignition.Sc
@model Ignition.Sc.Components.About.AboutPeopleGridViewModel

<div class="section">
    <div class="container">
        <div class="row">
            @Html.Sitecore().Placeholder(IgnitionConstants.Placeholders.About.AboutPeopleGrid)
            <!-- Team Member -->
        </div>
    </div>
</div>
