@using Ignition.Sc
@model Ignition.Sc.Components.About.AboutPeopleGridViewModel

@*<div class="section">
    <div class="container">
        <div class="row">*@
<div>@Html.Sitecore().DynamicPlaceholder(IgnitionConstants.Placeholders.About.AboutPeopleGrid)</div>
            <!-- Team Member -->
        @*</div>
    </div>
</div>*@
