@model Ignition.Feature.Core.ViewModels.BreadcrumbViewModel

<div class="section section-breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>@Html.Glass().Editable(a => a.Heading.Heading)</h1>
            </div>
        </div>
    </div>
</div>
