<!--
Unicorn.Configs.IgnitionRoot.config
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<unicorn>
			<configurations>
				<configuration name="Ignition Framework Core" description="This includes the items to support the core of the Ignition Framework">
          <targetDataStore physicalRootPath="$(solutionFolder)\Ignition.Project.CompositionRoot\Serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
					<predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
						<include name="IgnitionPlaceholderSettings" database="master" path="/sitecore/layout/Placeholder Settings/Ignition" />
						<include name="IgnitionTemplates" database="master" path="/sitecore/templates/Ignition" />
						<include name="PowershellComponents" database="master" path="/sitecore/system/Modules/PowerShell/Script Library/Ignition" />
						<include name="IgnitionConfig" database="master" path="/sitecore/system/Modules/Ignition" />
						<include name="IgnitionGlobalSettings" database="master" path="/sitecore/content/GlobalSettings" />
						<include name="IgnitionLayout" database="master" path="/sitecore/layout/Layouts/IgnitionLayout" />
						<include name="IgnitionImagePath" database="master" path="/sitecore/media library/IgnitionDemo" />
            <include name="IgnitionTemplatePath" database="master" path="/sitecore/templates/Sites" />
					</predicate>
					<dataProviderConfiguration enableTransparentSync="false" type="Unicorn.Data.DataProvider.DefaultUnicornDataProviderConfiguration, Unicorn" singleInstance="true" />
					<syncConfiguration updateLinkDatabase="false" updateSearchIndex="false" maxConcurrency="1" type="Unicorn.Loader.DefaultSyncConfiguration, Unicorn" singleInstance="true" />
				</configuration>
			</configurations>
		</unicorn>
	</sitecore>
</configuration>
