<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
		<!-- Template ID's-->
		<setting name="Ignition.Feature.Core.Map.Id.IgnitionPage" value="{0ED048AF-E431-40E0-A8A5-3028367FC756}"/>
		<setting name="Ignition.Feature.Core.Map.Id.BreadCrumb" value="{01C8C273-8BA6-44EB-9947-BEB3D2C29B4A}"/>
		<setting name="Ignition.Feature.Core.Map.Id.BootstrapColumns" value="{6F674EF0-9E3A-4EFF-A956-6F40DA4AFA36}"/>
    </settings>
  </sitecore>
</configuration>
