<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
		<!-- Core Template ID's-->
		<setting name="Ignition.Map.Id.ModelBase" value="{4C3CDC24-1610-4808-92A3-A221768AE3B2}"/>
		<setting name="Ignition.Map.Id.ParamsBase" value="{20FCB4C8-F9B2-41F6-9464-16BCC280ADC0}"/>
		<setting name="Ignition.Map.Id.SettingsFolder" value="{19BEA9FA-08C7-4D8F-B1B8-08CA5D288B87}"/>
		<setting name="Ignition.Map.Id.OptionFolder" value="{3B08A675-8C97-4D5F-BAFF-D50D8DF30CC0}"/>
		<setting name="Ignition.Map.Id.NavFolder" value="{BFD24362-0C2F-44ED-96AC-B73C03AAF022}"/>
		<setting name="Ignition.Map.Id.Metadata" value="{2C0AB971-113B-4206-988B-DE77BE43E70D}"/>
		<setting name="Ignition.Map.Id.Page" value="{0935636A-EE07-442D-8930-87EC0CAE26A4}"/>
		<setting name="Ignition.Map.Id.Taxonomy" value="{1522097B-B91D-4E98-BBDB-AD197619765D}"/>
		<setting name="Ignition.Map.Id.Navigation" value="{4B39EFA4-00EB-4C61-BD45-82FB2C72E810}"/>
		<setting name="Ignition.Map.Id.DecimalSetting" value="{978C9A93-78C3-431D-9431-C6315FAE127F}"/>
		<setting name="Ignition.Map.Id.ImageSetting" value="{5546A63F-AA8D-43C5-ABAE-C89518085558}"/>
		<setting name="Ignition.Map.Id.IntSetting" value="{9A7616B4-3CB5-4351-9561-E363C7100154}"/>
		<setting name="Ignition.Map.Id.Option" value="{2251DD1D-6255-428F-B751-9AFB34F20AFA}"/>
		<setting name="Ignition.Map.Id.StringSetting" value="{4DCC294F-D5EC-4607-917A-E4A3B80EC624}"/>
		<setting name="Ignition.Map.Id.Bucket" value="{ADB6CA4F-03EF-4F47-B9AC-9CE2BA53FF97}"/>
		<setting name="Ignition.Map.Id.DictionaryEntry" value="{6D1CD897-1936-4A3A-A511-289A94C2A7B1}"/>
		<setting name="Ignition.Map.Id.File" value="{962B53C4-F93B-4DF9-9821-415C867B8903}"/>
		<setting name="Ignition.Map.Id.Folder" value="{A87A00B1-E6DB-45AB-8B54-636FEC3B5523}"/>
		<setting name="Ignition.Map.Id.MediaItem" value="{F1828A2C-7E5D-4BBD-98CA-320474871548}"/>
		
		<!-- Core Field ID's-->
		<setting name="Models.Fields.Id.Metadata.PageTitle" value="{D273DA81-EF49-406F-86E5-163FFFA26671}"/>
		<setting name="Models.Fields.Id.Metadata.PageDescription" value="{75D7908F-85A8-4B47-80D8-4243B658DF24}"/>
		<setting name="Models.Fields.Id.Taxonomy.Tags" value="{2E701CF5-4C90-4E03-A6E1-21696E166311}"/>
		<setting name="Models.Fields.Id.Navigation.NavigationTitle" value="{56666E5E-AFB9-49F6-A950-1D065B9FE35C}"/>
		<setting name="Models.Fields.Id.Navigation.HideFromNavigation" value="{786A89D2-AE2B-4C3C-9855-58A64A204E02}"/>
		<setting name="Models.Fields.Id.Navigation.HideChildrenFromNavigation" value="{A0537A65-7327-4BB3-ACAB-ED22E739DEBE}"/>
		<setting name="Models.Fields.Id.DecimalSetting.DecimalSetting" value="{D7E2526E-9703-4EC7-A7C1-449E7C1134F6}"/>
		<setting name="Models.Fields.Id.ImageSetting.ImageSetting" value="{1F4F6A33-9831-4323-B879-96AF88745183}"/>
		<setting name="Models.Fields.Id.IntSetting.IntSetting" value="{E3DB7E64-7718-4B64-9E98-5C3D1245D8DC}"/>
		<setting name="Models.Fields.Id.StringSetting.StringSetting" value="{0DBDC181-2CD0-4FEA-B8F1-763888684F41}"/>
		<setting name="Models.Fields.Id.Option.Option" value="{EC72E24F-7C28-4E95-8D0B-F165D1004792}"/>
		
		<!-- FieldNames-->
		<setting name="Models.Fields.Created" value="__created" />
		<setting name="Models.Fields.Updated" value="__updated" />
		<setting name="Models.Fields.MineType" value="Mine Type" />
		<setting name="Models.Fields.Icon" value="__Icon" />
    </settings>
  </sitecore>
</configuration>
