<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
		<!-- Template ID's-->
		<setting name="Ignition.Map.Id.ModelBase" value="{4C3CDC24-1610-4808-92A3-A221768AE3B2}"/>
		<setting name="Ignition.Map.Id.ParamsBase" value="{20FCB4C8-F9B2-41F6-9464-16BCC280ADC0}"/>
		<setting name="Ignition.Map.Id.SettingsFolder" value="{19BEA9FA-08C7-4D8F-B1B8-08CA5D288B87}"/>
		<setting name="Ignition.Map.Id.OptionFolder" value="{3B08A675-8C97-4D5F-BAFF-D50D8DF30CC0}"/>
		<setting name="Ignition.Map.Id.NavFolder" value="{BFD24362-0C2F-44ED-96AC-B73C03AAF022}"/>
		<setting name="Ignition.Map.Id.Metadata" value="{2C0AB971-113B-4206-988B-DE77BE43E70D}"/>
		<setting name="Ignition.Map.Id.Page" value="{0935636A-EE07-442D-8930-87EC0CAE26A4}"/>
		<setting name="Ignition.Map.Id.ParamsBase" value="{20FCB4C8-F9B2-41F6-9464-16BCC280ADC0}"/>
		<setting name="Ignition.Map.Id.ParamsBase" value="{20FCB4C8-F9B2-41F6-9464-16BCC280ADC0}"/>
		<setting name="Ignition.Map.Id.ParamsBase" value="{20FCB4C8-F9B2-41F6-9464-16BCC280ADC0}"/>
		<setting name="Ignition.Map.Id.ParamsBase" value="{20FCB4C8-F9B2-41F6-9464-16BCC280ADC0}"/>
		<setting name="Ignition.Map.Id.ParamsBase" value="{20FCB4C8-F9B2-41F6-9464-16BCC280ADC0}"/>
		<setting name="Ignition.Map.Id.ParamsBase" value="{20FCB4C8-F9B2-41F6-9464-16BCC280ADC0}"/>
		<setting name="Ignition.Map.Id.ParamsBase" value="{20FCB4C8-F9B2-41F6-9464-16BCC280ADC0}"/>
		<setting name="Ignition.Map.Id.ParamsBase" value="{20FCB4C8-F9B2-41F6-9464-16BCC280ADC0}"/>
		
		<!-- Field ID's-->
		<setting name="Models.Fields.Id.Metadata.PageTitle" value="{D273DA81-EF49-406F-86E5-163FFFA26671}"/>
		<setting name="Models.Fields.Id.Metadata.PageDescription" value="{75D7908F-85A8-4B47-80D8-4243B658DF24}"/>
		<setting name="Ignition.Map.Id.ParamsBase" value="{20FCB4C8-F9B2-41F6-9464-16BCC280ADC0}"/>
		<setting name="Ignition.Map.Id.ParamsBase" value="{20FCB4C8-F9B2-41F6-9464-16BCC280ADC0}"/>
		<setting name="Ignition.Map.Id.ParamsBase" value="{20FCB4C8-F9B2-41F6-9464-16BCC280ADC0}"/>
		<setting name="Ignition.Map.Id.ParamsBase" value="{20FCB4C8-F9B2-41F6-9464-16BCC280ADC0}"/>
		<setting name="Ignition.Map.Id.ParamsBase" value="{20FCB4C8-F9B2-41F6-9464-16BCC280ADC0}"/>
		<setting name="Ignition.Map.Id.ParamsBase" value="{20FCB4C8-F9B2-41F6-9464-16BCC280ADC0}"/>
		<setting name="Ignition.Map.Id.ParamsBase" value="{20FCB4C8-F9B2-41F6-9464-16BCC280ADC0}"/>
		<setting name="Ignition.Map.Id.ParamsBase" value="{20FCB4C8-F9B2-41F6-9464-16BCC280ADC0}"/>
		
		<!-- FieldNames-->
		<setting name="Models.Fields.Created" value="__created" />
		<setting name="Models.Fields.Updated" value="__updated" />
		<setting name="Models.Fields.Sortorder" value="__Sortorder" />
		<setting name="Models.Fields.Sortorder" value="__Sortorder" />
		<setting name="Models.Fields.Sortorder" value="__Sortorder" />
		<setting name="Models.Fields.Sortorder" value="__Sortorder" />
		<setting name="Models.Fields.Sortorder" value="__Sortorder" />
		<setting name="Models.Fields.Sortorder" value="__Sortorder" />
		<setting name="Models.Fields.Sortorder" value="__Sortorder" />
		<setting name="Models.Fields.Sortorder" value="__Sortorder" />
		<setting name="Models.Fields.Sortorder" value="__Sortorder" />
		<setting name="Models.Fields.Sortorder" value="__Sortorder" />
		<setting name="Models.Fields.Sortorder" value="__Sortorder" />
		<setting name="Models.Fields.Sortorder" value="__Sortorder" />
		<setting name="Models.Fields.Sortorder" value="__Sortorder" />
		<setting name="Models.Fields.Sortorder" value="__Sortorder" />
    </settings>
  </sitecore>
</configuration>
