@using Ignition.Sc
@model Ignition.Sc.Components.Frame.FrameViewModel
<body>
    <!--[if lt IE 7]>
        <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->
    @Html.Sitecore().Placeholder(IgnitionConstants.Placeholders.Layout.LayoutPageEditor)
    @Html.Sitecore().Placeholder(IgnitionConstants.Placeholders.Layout.LayoutHeader)
	<hr/>
    @Html.Sitecore().Placeholder(IgnitionConstants.Placeholders.Layout.LayoutContent)
    @Html.Sitecore().Placeholder(IgnitionConstants.Placeholders.Layout.LayoutFooter)
</body>