@using Ignition.Sc
<div class="row">
	<div class="col-md-3">@Html.Sitecore().Placeholder(IgnitionConstants.Placeholders.Content.Left)</div>
	<div class="col-md-7">@Html.Sitecore().Placeholder(IgnitionConstants.Placeholders.Content.Right)</div>
</div>