<!--
Unicorn.Configs.IgnitionRoot.config
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<unicorn>
			<configurations>
				<configuration name="Ignition Feature News" description="This includes the items to support the news feature of the Ignition Framework" dependencies="Ignition Feature Core">
          <targetDataStore physicalRootPath="$(solutionFolder)\Ignition.Feature.News\Serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
					<predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Ignition News Components" database="master" path="/sitecore/layout/Renderings/Ignition/Components/News" />
            <include name="Ignition News Templates" database="master" path="/sitecore/templates/Sites/Ignition/Components/News" />
					</predicate>
					<dataProviderConfiguration enableTransparentSync="false" type="Unicorn.Data.DataProvider.DefaultUnicornDataProviderConfiguration, Unicorn" singleInstance="true" />
					<syncConfiguration updateLinkDatabase="false" updateSearchIndex="false" maxConcurrency="1" type="Unicorn.Loader.DefaultSyncConfiguration, Unicorn" singleInstance="true" />
				</configuration>
			</configurations>
		</unicorn>
	</sitecore>
</configuration>
