<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
		<!-- Core Template ID's-->
		<setting name="Ignition.Map.Id.ModelBase" value="{4C3CDC24-1610-4808-92A3-A221768AE3B2}"/>
		<setting name="Ignition.Map.Id.ParamsBase" value="{20FCB4C8-F9B2-41F6-9464-16BCC280ADC0}"/>
		<setting name="Ignition.Map.Id.SettingsFolder" value="{19BEA9FA-08C7-4D8F-B1B8-08CA5D288B87}"/>
		<setting name="Ignition.Map.Id.OptionFolder" value="{3B08A675-8C97-4D5F-BAFF-D50D8DF30CC0}"/>
		<setting name="Ignition.Map.Id.NavFolder" value="{BFD24362-0C2F-44ED-96AC-B73C03AAF022}"/>
		<setting name="Ignition.Map.Id.Metadata" value="{2C0AB971-113B-4206-988B-DE77BE43E70D}"/>
		<setting name="Ignition.Map.Id.Page" value="{0935636A-EE07-442D-8930-87EC0CAE26A4}"/>
		<setting name="Ignition.Map.Id.Taxonomy" value="{1522097B-B91D-4E98-BBDB-AD197619765D}"/>
		<setting name="Ignition.Map.Id.Navigation" value="{4B39EFA4-00EB-4C61-BD45-82FB2C72E810}"/>
		<setting name="Ignition.Map.Id.DecimalSetting" value="{978C9A93-78C3-431D-9431-C6315FAE127F}"/>
		<setting name="Ignition.Map.Id.ImageSetting" value="{5546A63F-AA8D-43C5-ABAE-C89518085558}"/>
		<setting name="Ignition.Map.Id.IntSetting" value="{9A7616B4-3CB5-4351-9561-E363C7100154}"/>
		<setting name="Ignition.Map.Id.Option" value="{2251DD1D-6255-428F-B751-9AFB34F20AFA}"/>
		<setting name="Ignition.Map.Id.StringSetting" value="{4DCC294F-D5EC-4607-917A-E4A3B80EC624}"/>
		<setting name="Ignition.Map.Id.Bucket" value="{ADB6CA4F-03EF-4F47-B9AC-9CE2BA53FF97}"/>
		<setting name="Ignition.Map.Id.DictionaryEntry" value="{6D1CD897-1936-4A3A-A511-289A94C2A7B1}"/>
		<setting name="Ignition.Map.Id.File" value="{962B53C4-F93B-4DF9-9821-415C867B8903}"/>
		<setting name="Ignition.Map.Id.Folder" value="{A87A00B1-E6DB-45AB-8B54-636FEC3B5523}"/>
		<setting name="Ignition.Map.Id.MediaItem" value="{F1828A2C-7E5D-4BBD-98CA-320474871548}"/>
		
		<!-- Core Field ID's-->
		<setting name="Models.Fields.Id.Metadata.PageTitle" value="{D273DA81-EF49-406F-86E5-163FFFA26671}"/>
		<setting name="Models.Fields.Id.Metadata.PageDescription" value="{75D7908F-85A8-4B47-80D8-4243B658DF24}"/>
		<setting name="Models.Fields.Id.Taxonomy.Tags" value="{2E701CF5-4C90-4E03-A6E1-21696E166311}"/>
		<setting name="Models.Fields.Id.Navigation.NavigationTitle" value="{56666E5E-AFB9-49F6-A950-1D065B9FE35C}"/>
		<setting name="Models.Fields.Id.Navigation.HideFromNavigation" value="{786A89D2-AE2B-4C3C-9855-58A64A204E02}"/>
		<setting name="Models.Fields.Id.Navigation.HideChildrenFromNavigation" value="{A0537A65-7327-4BB3-ACAB-ED22E739DEBE}"/>
		<setting name="Models.Fields.Id.DecimalSetting.DecimalSetting" value="{D7E2526E-9703-4EC7-A7C1-449E7C1134F6}"/>
		<setting name="Models.Fields.Id.ImageSetting.ImageSetting" value="{1F4F6A33-9831-4323-B879-96AF88745183}"/>
		<setting name="Models.Fields.Id.IntSetting.IntSetting" value="{E3DB7E64-7718-4B64-9E98-5C3D1245D8DC}"/>
		<setting name="Models.Fields.Id.StringSetting.StringSetting" value="{0DBDC181-2CD0-4FEA-B8F1-763888684F41}"/>
		<setting name="Models.Fields.Id.Option.Option" value="{EC72E24F-7C28-4E95-8D0B-F165D1004792}"/>
		
		<!-- Data Template ID's-->
		<setting name="Ignition.Map.Id.Abstract" value="{7E31C746-7AF6-485F-9437-BD4ADE415EA3}"/>
		<setting name="Ignition.Map.Id.BackgroundImage" value="{DF4EEF4E-4099-4EC3-BDB3-154EFE0648C4}"/>
		<setting name="Ignition.Map.Id.BackgroundImageAlternate" value="{D5BF5E98-55F0-4DA4-AA17-14E56E2AF263}"/>
		<setting name="Ignition.Map.Id.Boolean" value="{841E14B7-B05E-46EF-B17F-98046A6E661D}"/>
		<setting name="Ignition.Map.Id.Copy1" value="{0F38D202-D47C-4E9A-93E5-3B535AB63CF0}"/>
		<setting name="Ignition.Map.Id.Copy2" value="{4C1EB66B-798D-4D31-A6BB-D7CBB4405057}"/>
		<setting name="Ignition.Map.Id.Copy3" value="{5F8D5E76-8178-43AA-BE0D-AA8F34472FEC}"/>
		<setting name="Ignition.Map.Id.DateField1" value="{AA715605-C3E3-46EC-BDCB-CBB1365E0D1B}"/>
		<setting name="Ignition.Map.Id.DateField2" value="{E4606498-4A6D-4C37-BEA7-7C50973C9C8C}"/>
		<setting name="Ignition.Map.Id.EmailLink" value="{51D2D2E9-5C3F-4839-80F6-FD5601369633}"/>
		<setting name="Ignition.Map.Id.Heading" value="{6CDD0A6B-9598-4504-89A6-FACD76D6AF29}"/>
		<setting name="Ignition.Map.Id.Image" value="{85308FC9-E558-4B44-96BA-036C7FDA356C}"/>
		<setting name="Ignition.Map.Id.Image2" value="{C4B8AA9E-BB14-439A-951D-F2B1D8600897}"/>
		<setting name="Ignition.Map.Id.InternalLink" value="{C330D166-687F-48C1-8FBC-47DE306D34D6}"/>
		<setting name="Ignition.Map.Id.PrimaryLink" value="{60A77BBE-C64E-4BD8-AAE1-31B5A8E8AFE5}"/>
		<setting name="Ignition.Map.Id.SecondaryLink" value="{C330D166-687F-48C1-8FBC-47DE306D34D6}"/>
		<setting name="Ignition.Map.Id.SingleLineText" value="{D1AEF8A0-99FC-4090-8F9B-79EC12B52116}"/>
		<setting name="Ignition.Map.Id.SingleReference" value="{D6BC5A2C-7E68-4D82-B20E-5F8EE0D51E41}"/>
		<setting name="Ignition.Map.Id.Subtitle" value="{F89F2500-DF04-4FF8-B33A-FD58F331415C}"/>
		<setting name="Ignition.Map.Id.Logo" value="{27513B78-99D5-4E43-B285-67F7F1E218C5}"/>
		<setting name="Ignition.Map.Id.TertiaryLink" value="{2F5EB1F5-E5DA-46B2-9AE4-8824501BB81A}"/>
		
		
		<!-- Data Field ID's-->
		<setting name="Models.Fields.Id.TertiaryLink" value="{9CF29720-7AF2-4941-9EED-E436B42F681D}"/>
		<setting name="Models.Fields.Id.SubTitle" value="{3487FEB5-9DAB-49AA-B9DF-F97A877BA7ED}"/>
		<setting name="Models.Fields.Id.SingleReference.ReferencedItem" value="{8475E803-D40B-4AE3-8443-BEB1C047412D}"/>
		<setting name="Models.Fields.Id.SingleLineText" value="{BB51FAF2-0A09-47E0-AE5C-3D8DA64C6C40}"/>
		<setting name="Models.Fields.Id.SecondaryLink" value="{DE3F5373-4370-4702-972D-CFD73F88EA63}"/>
		<setting name="Models.Fields.Id.PrimaryLink" value="{253D5C6D-81BD-4C53-8552-3C8D603682F4}"/>
		<setting name="Models.Fields.Id.Logo" value="{EC72E24F-7C28-4E95-8D0B-F165D1004792}"/>
		<setting name="Models.Fields.Id.InternalLink" value="{DE3F5373-4370-4702-972D-CFD73F88EA63}"/>
		<setting name="Models.Fields.Id.Image2" value="{EE230F5E-665E-46A3-9BC7-2416212212EA}"/>
		<setting name="Models.Fields.Id.Image" value="{5467C5AF-07CF-4600-89E4-B1842761DC3F}"/>
		<setting name="Models.Fields.Id.Heading" value="{7DD87307-F0D1-4C76-B9D2-BACAF51AE316}"/>
		<setting name="Models.Fields.Id.EmailLink" value="{85FAA050-AAF1-4195-9F2D-688E22C4B2DF}"/>
		<setting name="Models.Fields.Id.DateField2" value="{B1AC24A8-141D-4CEC-8009-38606F8BC160}"/>
		<setting name="Models.Fields.Id.DateField1" value="{FF8D378C-E9DA-4D74-8913-17D1D729BF2C}"/>
		<setting name="Models.Fields.Id.Copy3" value="{8475E803-D40B-4AE3-8443-BEB1C047412D}"/>
		<setting name="Models.Fields.Id.Copy2" value="{E067A172-899E-4E61-A813-C56A42D4CF86}"/>
		<setting name="Models.Fields.Id.Copy1" value="{A3513117-630A-4830-86C0-A2F15164BE04}"/>
		<setting name="Models.Fields.Id.Checkbox" value="{8D5472EE-5C3D-406F-942B-11CC74A2372C}"/>
		<setting name="Models.Fields.Id.BackgroundImageAlternate" value="{BEBCE4EB-0F82-402C-B694-A21F9F0B194D}"/>
		<setting name="Models.Fields.Id.BackgroundImage" value="{688BBA82-CEB0-4EDD-9D32-AD0EA1F8F8F9}"/>
		<setting name="Models.Fields.Id.Abstract" value="{13BA7DE9-6997-44AA-BA9F-36B16D41CE45}"/>
		
		
		
		<!-- FieldNames-->
		<setting name="Models.Fields.Created" value="__created" />
		<setting name="Models.Fields.Updated" value="__updated" />
		<setting name="Models.Fields.MimeType" value="Mine Type" />
		<setting name="Models.Fields.Icon" value="__Icon" />
    </settings>
  </sitecore>
</configuration>
