<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <setting name="Publishing.PublishEmptyItems">
        <patch:attribute name="value">true</patch:attribute>
      </setting>
    </settings>

    <pipelines>
		<getPlaceholderRenderings>
			<processor
			  type="Ignition.Foundation.Core.DynamicPlaceholders.GetDynamicKeyAllowedRenderings, Ignition.Foundation.Core"
			  patch:before="processor[@type='Sitecore.Pipelines.GetPlaceholderRenderings.GetAllowedRenderings, Sitecore.Kernel']"/>
		</getPlaceholderRenderings>
		<getChromeData>
			<processor
			  type="Ignition.Foundation.Core.DynamicPlaceholders.GetDynamicPlaceholderChromeData, Ignition.Foundation.Core"
			  patch:after="processor[@type='Sitecore.Pipelines.GetChromeData.GetPlaceholderChromeData, Sitecore.Kernel']"/>
		</getChromeData>
		<initialize>
        <processor type="Ignition.Project.CompositionRoot.InitializeDependencyResolver, Ignition.Project.CompositionRoot" patch:before="processor[@type='Sitecore.Mvc.Pipelines.Loader.InitializeControllerFactory, Sitecore.Mvc']"/>
        <processor type="Ignition.Project.CompositionRoot.InitializeViewEngines, Ignition.Project.CompositionRoot" patch:after="processor[@type='Sitecore.Mvc.Pipelines.Loader.InitializeRoutes, Sitecore.Mvc']"/>
        <processor type="Ignition.Project.CompositionRoot.InitializeRoutes, Ignition.Project.CompositionRoot" patch:after="processor[@type='Sitecore.Mvc.Pipelines.Loader.InitializeGlobalFilters, Sitecore.Mvc']"/>
      </initialize>
      <!--<mvc.getRenderer>
        <processor
          patch:instead="processor[@type='type=Sitecore.Mvc.Pipelines.Response.GetRenderer.GetViewRenderer, Sitecore.Mvc']"
          type="Ignition.Core.Mvc.ViewEngines.GetViewRenderer, Ignition.Core" />
      </mvc.getRenderer>-->
    </pipelines>
  </sitecore>
</configuration>
