@using Ignition.Feature.Core
@using Ignition.Foundation.Core.DynamicPlaceholders
<div class="row">
	<div class="col-md-12">@Html.Sitecore().DynamicPlaceholder(FeatureCoreConstants.Placeholders.Content.Main)</div>
</div>