@using Ignition.Foundation.Core.DynamicPlaceholders
@using Ignition.Project.IgnitionDemo.Sc
<div class="row">
	<div class="col-md-3">@Html.Sitecore().DynamicPlaceholder(IgnitionConstants.Placeholders.Content.Left)</div>
	<div class="col-md-7">@Html.Sitecore().DynamicPlaceholder(IgnitionConstants.Placeholders.Content.Right)</div>
</div>