<div class="col-sm-6 latest-news">
    <h2>Latest News</h2>
    <div class="row">
        <div class="col-sm-12">
            <div class="caption"><a href="full-width.html">Donec elementum mi vitae enim fermentum lobortis.</a></div>
            <div class="date">16 May 2013 </div>
            <div class="intro">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et. <a href="full-width.html">Read more...</a></div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="caption"><a href="full-width.html">In hac habitasse platea dictumst.</a></div>
            <div class="date">14 May 2013 </div>
            <div class="intro">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. <a href="full-width.html">Read more...</a></div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="caption"><a href="full-width.html"> Nam condimentum laoreet sagittis.</a></div>
            <div class="date">14 May 2013 </div>
            <div class="intro">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. <a href="full-width.html">Read more...</a></div>
        </div>
    </div>
</div>
