<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="EmailReminder.FromAddress" value="name@server.net" />
  <!-- NetSpell directory -->
  <add key="DictionaryFolder" value="/sitecore/shell/controls/rich text editor/Dictionaries/" />
  <add key="Lucene.Net.FSDirectory.class" value="Sitecore.Search.FSDirectory, Sitecore.Kernel" />
  <add key="PageInspector:ServerCodeMappingSupport" value="Disabled" />
</appSettings>
