<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
		<!-- Template ID's-->
		<setting name="Ignition.Feature.Content.Map.Id.AboutHero" value="{6538AB6D-3016-4708-8800-0735967EA67F}"/>
		<setting name="Ignition.Feature.Content.Map.Id.AboutPeopleTile" value="{1EE6B463-AB7D-4364-8526-2A2477928E4E}"/>
		<setting name="Ignition.Feature.Content.Map.Id.Carousel" value="{35A29FDF-D52E-473D-AFE0-4D1BA7AAA1BB}"/>
		<setting name="Ignition.Feature.Content.Map.Id.CarouselSlide" value="{43798756-1389-421B-AAC8-0A6AC99273FA}"/>
		<setting name="Ignition.Feature.Content.Map.Id.ContentBlock" value="{D2C513B3-9CA7-490F-A1ED-58505B7B9CA1}"/>
		<setting name="Ignition.Feature.Content.Map.Id.LinkedImage" value="{97F58184-24C4-4296-979E-288AA210BC69}"/>
    </settings>
  </sitecore>
</configuration>
