<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <renderContentEditor>
        <processor 
          patch:instead="processor[@type='Sitecore.Shell.Applications.ContentEditor.Pipelines.RenderContentEditor.RenderStandardContentEditor, Sitecore.Client']"
          type="Ignition.Foundation.Infrastructure.Pipelines.FieldnameRewriter, Ignition.Foundation.Infrastructure" />
      </renderContentEditor>
    </pipelines>
  </sitecore>
</configuration>
