<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <setting name="Publishing.PublishEmptyItems">
        <patch:attribute name="value">true</patch:attribute>
      </setting>
    </settings>

    <pipelines>
		<getPlaceholderRenderings>
			<processor
			  type="Ignition.Core.HtmlHelpers.GetDynamicKeyAllowedRenderings, Ignition.Core"
			  patch:before="processor[@type='Sitecore.Pipelines.GetPlaceholderRenderings.GetAllowedRenderings, Sitecore.Kernel']"/>
		</getPlaceholderRenderings>
		<getChromeData>
			<processor
			  type="Ignition.Core.HtmlHelpers.GetDynamicPlaceholderChromeData, Ignition.Core"
			  patch:after="processor[@type='Sitecore.Pipelines.GetChromeData.GetPlaceholderChromeData, Sitecore.Kernel']"/>
		</getChromeData>
		<initialize>
        <processor type="Ignition.Root.App_Start.InitializeDependencyResolver, Ignition.Root" patch:before="processor[@type='Sitecore.Mvc.Pipelines.Loader.InitializeControllerFactory, Sitecore.Mvc']"/>
        <processor type="Ignition.Root.App_Start.InitializeViewEngines, Ignition.Root" patch:after="processor[@type='Sitecore.Mvc.Pipelines.Loader.InitializeRoutes, Sitecore.Mvc']"/>
        <processor type="Ignition.Root.App_Start.InitializeRoutes, Ignition.Root" patch:after="processor[@type='Sitecore.Mvc.Pipelines.Loader.InitializeGlobalFilters, Sitecore.Mvc']"/>
      </initialize>
    </pipelines>
  </sitecore>
</configuration>
