<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <pipelines>

    <getPlaceholderRenderings>
      <processor
        type="YourNamespace.Pipelines.GetPlaceholderRenderings.GetDynamicKeyAllowedRenderings, YourAssembly"
        patch:before="processor[@type='Sitecore.Pipelines.GetPlaceholderRenderings.GetAllowedRenderings, Sitecore.Kernel']"/>
    </getPlaceholderRenderings>

    <getChromeData>
      <processor
        type="YourNamespace.Pipelines.GetChromeData.GetDynamicPlaceholderChromeData, YourAssembly"
        patch:after="processor[@type='Sitecore.Pipelines.GetChromeData.GetPlaceholderChromeData, Sitecore.Kernel']"/>
    </getChromeData>

  </pipelines>
</configuration>