@model Ignition.Feature.Content.ViewModels.HeroCarouselSlideViewModel
<div class="item active" style="background-image: url('@Model.BackgroundImage.Src')">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="carousel-content centered">
					<h2 class="animation animated-item-1">@Model.Heading</h2>
					<p class="animation animated-item-2">@Model.Copy1</p>
				</div>
			</div>
		</div>
	</div>
</div><!--/.item-->