@using Ignition.Feature.Core
@using Ignition.Foundation.Core.DynamicPlaceholders
@model Ignition.Feature.Content.ViewModels.AboutPeopleGridViewModel
<div>@Html.Sitecore().DynamicPlaceholder(FeatureConstants.Placeholders.About.AboutPeopleGrid)</div>
