@model Ignition.Feature.Content.ViewModels.AboutHeroViewModel

@if (Model != null)
{
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <div class="clients-logo-wrapper text-center row">
                        @if (Model.LogoImages != null)
                        {
                            foreach (var logoimage in Model.LogoImages)
                            {
                                <div class="col-lg-2 col-md-1 col-sm-3 col-xs-6">
                                    @using (Html.Glass().BeginRenderLink(logoimage, a => a.PrimaryLink, null, true))
                                    {
                                        @Html.Glass().RenderImage(logoimage, a => a.Image, null, true)
                                    }
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}